@charset "UTF-8";
/* グレー系 */
/* マゼンタ系 */

/* マージン、パディング */
/* フォントサイズ */
/* 行の高さ */

/* グレー系 */
/* マゼンタ系 */
/* マージン、パディング */
/* フォントサイズ */
/* 行の高さ */
/* line 6, /vagrant/app/assets/stylesheets/admin/container.css.scss */
div#wrapper div#container h1 {
  margin: 0;
  padding: 9px 6px;
  font-size: 16px;
  font-weight: normal;
  background-color: #331a33;
  color: #eeeeee;
}

/* グレー系 */
/* マゼンタ系 */
/* マージン、パディング */
/* フォントサイズ */
/* 行の高さ */
/* line 4, /vagrant/app/assets/stylesheets/admin/layout.css.scss */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* line 9, /vagrant/app/assets/stylesheets/admin/layout.css.scss */
div#wrapper {
  position: relative;
  box-sizing: border-box;
  min-height: 100%;
  margin: 0 auto;
  padding-bottom: 48px;
  background-color: #cccccc;
}

/* line 17, /vagrant/app/assets/stylesheets/admin/layout.css.scss */
header {
  padding: 6px;
  background-color: #884488;
  color: #fafafa;
}
/* line 21, /vagrant/app/assets/stylesheets/admin/layout.css.scss */
header span.logo-mark {
  font-weight: bold;
}

/* line 25, /vagrant/app/assets/stylesheets/admin/layout.css.scss */
footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  background-color: #666666;
  color: #fafafa;
}
/* line 31, /vagrant/app/assets/stylesheets/admin/layout.css.scss */
footer p {
  text-align: center;
  padding: 6px;
  margin: 0;
}
/*

 */

